@model MVCDemo.Models.Currency

<header class="currency-header">
    @Html.ActionLink("უკან", "Index", "Currencies", new { @class = "btn btn-secondary" })
    <h1> ვალუტის დამატება/რედაქტირება </h1>
</header>

<p>მიუთითეთ ვალუტის:</p>
<form action="/Currencies/EditCurrency/@Model.id" method="post">
    <div class="form-group">
        <label for="code">კოდი</label>
        <input type="text" class="form-control" id="code" name="code" placeholder="USD" value="@Model.code">
    </div>
    <div class="form-group">
        <label for="name">დასახელება</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="ამერიკული დოლარი" value="@Model.name">
    </div>
    <div class="form-group">
        <label for="name_lat">დასახელება ლათინურად</label>
        <input type="text" class="form-control" id="name_lat" name="name_lat" placeholder="US Dollar" value="@Model.name_lat">
    </div>
    <div class="form-group">
        <label for="order_index">თანმიმდევრობის ინდექსი</label>
        <input type="number" class="form-control" id="order_index" name="order_index" min="1" placeholder="1" value="@Model.order_index">
    </div>
    <button class="btn btn-primary" type="submit">დადასტურება</button>
</form>
