@model MVCDemo.Models.Currency
@{ 
    var pageTitle = "ვალუტის " + (Model.id > 0 ? "რედაქტირება" : "დამატება");
}

<header class="currency-header">
    @Html.ActionLink("უკან", "Index", "Currencies", new { @class = "btn btn-secondary" })
    <h1> @pageTitle </h1>
</header>

<p>გთხოვთ მიუთითოთ ვალუტის:</p>
@using (Html.BeginForm("EditCurrency", "Currencies", new { id = Model.id}, FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("code", "კოდი")
        @Html.TextBoxFor(m => m.code, new { @class="form-control", placeholder="USD" })
    </div>
    <div class="form-group">
        @Html.Label("name", "დასახელება")
        @Html.TextBoxFor(m => m.name, new { @class = "form-control", placeholder = "ამერიკული დოლარი" })
    </div>
    <div class="form-group">
        @Html.Label("name_lat", "დასახელება ლათინურად")
        @Html.TextBoxFor(m => m.name_lat, new { @class = "form-control", placeholder = "US Dollar" })
    </div>
    <div class="form-group">
        @Html.Label("order_index", "თანმიმდევრობის ინდექსი")
        @Html.TextBoxFor(m => m.order_index, new { type = "number", @class = "form-control",  min = 1, placeholder = "1" })
    </div>
    @Html.TextBox("submit", "დადასტურება", new { @class = "btn btn-primary", type = "submit"})
}
