@model MVCDemo.ViewModels.CurrenciesViewModel

<header class="currency-header">
    @Html.ActionLink("ვალუტის დამატება", "Edit", "Currencies", new { @class = "btn btn-success" })
</header>

<ul class="list-group">
    @foreach (var currency in Model.Currencies)
    {
        <li class="list-group-item currency-list-item">
            @currency.name
            <div class="currency-controll-group">
                <a class="btn btn-warning" title="კურსი" href="@Url.Action("Course", "Currencies", new { id = currency.id})">
                    <i class="fas fa-exchange-alt"></i>
                </a>
                <a class="btn btn-primary" title="დეტალები" href="@Url.Action("Edit", "Currencies", new { id = currency.id})">
                    <i class="fas fa-pen"></i>
                </a>
                <a class="btn btn-danger" title="წაშლა" href="@Url.Action("Delete", "Currencies", new { id = currency.id})">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </li>
    }
</ul>